[Unit]
Description=Tiny cloud-init (NoCloud / EC2 IMDS datasource)
After=local-fs.target systemd-udevd.service network-online.target
Wants=local-fs.target network-online.target
Before=sshd.service systemd-user-sessions.service
ConditionPathExists=!/etc/tinycloudinit.disabled

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/tinycloudinit
StandardOutput=journal+console
StandardError=journal+console
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
